body{
    background-color: aliceblue;
    user-select: none;
}

.center{
    display: grid;
    place-items: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    border-radius: 1px;
    max-width: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item-gray{
    background-color: gray;
}

.item{
    background-color: white;
    color: black;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.541);
}

#zero{
    padding-right: 12px;
}

.input{
    justify-content: flex-end;
    font-size: 30px;
    min-height: 70px;
    height: 100%;
    grid-column: 1/-1;
    padding: 0px;
}



#gray{
    background-color: rgb(187, 186, 186);
}

#orange{
    background-color:orange;
}